* {
    color:white;
}
.container {
    height: 100vh;
    background: rgb(22,85,117);
    background: linear-gradient(40deg, rgba(22,85,117,1) 0%, rgba(105,105,168,1) 29%, rgba(16,113,194,1) 46%, rgba(20,148,175,1) 64%, rgba(0,255,209,1) 100%);
    font-family: Roboto;
    max-width: 100%;
}

.searchForm {
    padding: 1px 50px;
}


.dailyWeather {
    margin: 0 50px 50px 50px;
    padding: 1px 30px;
    height: 350px;
    background:rgba(173, 216, 230, 0.5)
}

.weatherDetails {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cityName {
    font-size: 30px;
    color: white;
    font-weight: 700; 
    align-self: end;
    justify-self: center;
}

#currentTemp, #tomorrowsTemp, #dayAfterTomorrowsTemp{
    font-size: 50px;
    color: white;
    grid-column-start: 1;
    justify-self: center;
}

#currentDateAndTime, #tomorrowsDate, #dayAfterTomorrowsDate{
    grid-column-start: 1;
    font-size: 11px;
    color: white;
    justify-self: center;
}

#currentWeatherAdditionalInfo, #tomorrowsWeatherAdditionalInfo, #dayAfterTomorrowsWeatherAdditionalInfo{
    grid-column-start: 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
}

#currentWeatherAdditionalInfo div{
    color:white;
}
img{
    width: 100px;
    height: 100px;
}


.laterForecast {
    display: flex;
    margin: 0 40px;
}

.card{
    background-color: rgba(255, 255, 255, 0.5);
}

.input-group.flex-nowrap{
    margin: 2% 0;
}

h5 {
    font-size: 20px;
    text-align: center;
}

.hourlyForecastList, .dailyForecastList {
    margin: 10px;
    padding: 10px;
    text-align: center;
}